/* courses boxes */
#courses a #boxlinks{
  color: blue;
  text-decoration:none;
  font-weight:600;
  opacity:0.75
}
#courses a:visited #boxlinks{
  color: blue;
  text-decoration:none;
  font-weight:600;
  opacity:0.75
}
#courses a:hover #boxlinks{
  color: blue;
  text-decoration:none;
  font-weight:600;
  opacity:1;
}

#coursescontainer {
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: center; /* switched from default (flex-start, see below) */
}
#coursesbox {
  width: 300px;
  height: 200px;
  text-align: center;
  border-radius: 25px;
  border: 5px solid #73AD21;
  /*background-color: white;*/
  padding: 20px;
  font-size: 14pt; 
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 0px;
  margin-top: 0px;
  color: black;
  background: rgb(255,255,255); /* Fall-back for browsers that don't support rgba */
  background: rgba(255,255,255, 0.8);
}
#coursesboxtext {
  font-size: 10pt; 
}
#pkgscontainer {
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: center; /* switched from default (flex-start, see below) */
  align-items: stretch;
}
#pkgsbox {
  flex: auto;
  text-align: center;
  border-radius: 25px;
  border: 5px solid blue;
  padding: 20px;
  font-size: 14pt; 
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 0px;
  margin-top: 0px;
  color: black;
  /*background-color: white;*/
  background: rgb(255,255,255); /* Fall-back for browsers that don't support rgba */
  background: rgba(255,255,255, 0.8);
}
#pkgsboxtext1 {
  font-size: 3vw; 
}
#pkgsboxtext2 { /*this one disappears on phones*/
  font-size: 3vw; 
}
@media screen and (min-width: 333px) { /* don't go over 12px */
  #pkgsboxtext1 {
     font-size: 10pt;
  }
  #pkgsboxtext2 { 
     font-size: 10pt; 
  }
}
#contactscontainer {
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-around; /* switched from default (flex-start, see below) */
}
#contactsbox {
  width: 25%;
  text-align: center;
  padding: 20px;
  font-size: 14pt; 
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 0px;
  margin-top: 0px;
}

#contactsimg {
  width: 100% !important;
  border-radius:50% !important;
  display: inline-block;
  padding: 20px;
}

.boxlinks{ /*can't figure out how to make Jekyll not override so use !important*/
  color: blue               !important;
  text-decoration:none      !important;
  padding-bottom:15px       !important;
  display:inline-block      !important;
}

.boxlinks{ /*can't figure out how to make Jekyll not override so use !important*/
  color: blue               !important;
  text-decoration:none      !important;
  padding-bottom:15px       !important;
  display:inline-block      !important;
}
